*.pyc
.cache/
data/raw_pdfs/
data/student_db.json
venv/
torch_gpu/
__pycache__/
*.pt
*.pth
*.ckpt
vector_db/
agentAcademic/data/raw_pdfs/
*.pt
*.bin
.DS_Store
# Virtual environments
venv/
torch_gpu/
torch_gpu311/

# Python
__pycache__/
*.pyc

# Models
*.pt
*.bin
*.safetensors

# Huggingface cache
.cache/
